/*********** HEADINGS ***********/



h1 {
	font-family: 'PT Sans Caption', sans-serif;
	font-weight: 700;
	color: #DEB841;
	text-shadow: #484848 1px 1px;
	font-size: 3.313em;
	text-align: center;
	margin-top: 10px;
	padding: none;
}

h2 {
	font-family: 'PT Sans Caption', sans-serif;
	color: #DEB841;
	font-size: 3.313em;
	text-align: center;
	margin-top: 30px;
}




/*********** NAVIGATION ***********/

.navbar {
	border-radius: 0;
	background-color: #DEB841;
	margin-bottom: 0;
}

.navbar-nav {
	float: right;
	margin-right: 15.5%
}


.navbar-nav li a {
	color: #37323E;
	padding: 9px 15px 0 15px;
}

.navbar-nav li a:hover {
	color: #37323E;
	background-color: #DEB841;
}

.navbar-nav li a:visited {
	color: #37323E;
	background-color: #DEB841;
}

.navbar-nav li a i {
	font-size: 30px;
}

.navbar-nav li input[type='search'] {
	border: 2px solid #37323E;
	border-radius: 5px;
	margin-top: 12px;
	margin-right: 5px;
	margin-left: 5px;
	padding-left: 5px;
}




/*********** LOGO ***********/

.logo {
    background-image: url('../img/logo.png');
    height: 80px;
    width: 80px;
    border-radius: 100%;
    margin-top: 30px;
}




/*********** INPUT TYPES ***********/

input[type='text'] {
	width: 100%;
	height: 35px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #fff;
	font-size: 1.250em;
	background-color: rgba(191,189,193, .30);
	border: none;
	border-radius: 5px;
	padding-left: 10px;
	margin-bottom: 20px;
}

input[type='password'] {
	width: 100%;
	height: 35px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #fff;
	font-size: 1.250em;
	background-color: rgba(191,189,193, .30);
	border: none;
	border-radius: 5px;
	padding-left: 10px;
	margin-bottom: 25px;
}

input[type='email'] {
	float: left;
    width: 72%;
    height: 35px;
    font-family: 'Open Sans', sans-serif;
	font-weight: 300;
    color: #fff;
    font-size: 1.250em;
    background-color: rgba(191,189,193, .30);
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    margin-bottom: 10px;
}



/*********** BACKGROUND IMAGES ***********/

.bg-sign-in {
	height: 850px;
	background-image: url(../img/bg-6.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #fff;
	margin: 0 -15px;
}

.bg-sign-up {
	height: 850px;
    background: url(../img/bg-6.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #fff;
	margin: 0 -15px;
}

.bg-learn-more {
	height: 100%;
    background: url(../img/bg-6.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #fff;
	margin: 0 -15px;
}



/*********** SIGN IN, SIGN UP & LEARN MORE ***********/

.login {
	height: 100%;
	width: 325px;
	margin: 0 auto;
	margin-top: 23px;
	background-color: rgba(55,50,62,0.65);
	border-radius: 10px;
	padding: 0 10px;
}

.login-input {
	padding: 30px 20px;
}

hr {
	border-color: #6D6A75;
	margin-top: 25px;
}

.sign-in-btn {
	width: 100%;
	height: 35px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #fff;
	border: none;
	border-radius: 5px;
	background-color: #DE9E36;
}

.learn-more-btn {
	display: block;
	text-align: center;
	margin-top: 18px;
}

.learn-more-btn a {
	color: #DE9E36;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 5px;
	border-bottom: 1px solid #DE9E36;
}

.learn-more-btn a:hover, .learn-more-btn a:active, .learn-more-btn a:focus {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: #DE9E36;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
}



.sign-up {
	height: 100%;
	width: 620px;
	margin: 0 auto;
	margin-top: 23px;
	background-color: rgba(55,50,62,0.65);
	border-radius: 10px;
}

.input-section-1 {
	float: left;
	width: 300px;
	padding: 30px 20px 0;
	margin-left: 10px;
}

.input-section-2 {
	float: left;
	width: 300px;
	padding: 30px 20px 0;
}

.input-section-3 {
	float: left;
	width: 300px;
	padding: 30px 20px 0;
	margin-left: 10px;
}

.input-section-4 {
	float: left;
	width: 300px;
	padding: 38px 20px 40px;
}

.other-section {
	padding: 0 20px 0;
	margin-left: 10px;
	margin-right: 10px;
}

.clear {
	clear: both;
}

span hr {
	display: block;
	margin: 30px 30px 0 30px;
}

label {
	font-family: 'Open Sans', sans-serif;
	color: #DEB841;
	font-size: 1.125em;
}

.sign-up-btn {
	width: 21%;
	height: 35px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #fff;
	border: none;
	border-radius: 5px;
	background-color: #DE9E36;
	/*margin-top: 10px;*/
	/*display: block;
	margin: 30px auto 0;*/
	float: left;
	margin-left: 7%;
}



.learn-more {
	height: 100%;
	width: 87%;
	margin-top: 23px;
	background-color: rgba(55,50,62,0.65);
	border-radius: 10px;
}

.learn-more-content {
	padding: 35px 30px;
}

.learn-more-content p {
	color: #fff;
	font-size: 18px;
}

.steps {
	color: #DE9E36;
	font-size: 22px;
}

.screenshots {
	height: 100%;
	width: 83%;
	margin-top: 23px;
	margin-left: 75px;
}

.screenshots-content img {
	width: 100%;
	margin-bottom: 40px;
}

.other-sign-up-btn {
	width: 30%;
	height: 35px;
	display: block;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	border: none;
	border-radius: 5px;
	background-color: #DE9E36;
	margin: 20px auto 0;
}

.learn-more-content a {
	text-decoration: none;
}

.learn-more-content span {
	margin-top: 20px;
}





/*********** USER PROFILE ***********/


.user-profile {
	height: 100%;
	background-repeat: no-repeat;
	background-color: #fff;
}

.user {
	height: 100%;
	width: 70%;
	margin: 0 auto;
	margin-top: 23px;
	background-color: #fff;
	border: 2px solid #BFBDC1;
	border-bottom: none;
	border-radius: 10px 10px 0 0;
}

.user img {
	display: inline-block;
	border-radius: 100%;
	padding: 20px;
}

.user-input {
	vertical-align: middle;
	width: 60%;
	display: inline-block;
	padding-top: 40px;
	padding-bottom: 20px;
    padding-left: 43px;
}

.user-input textarea {
	font-family: 'Open Sans', sans-serif;
	resize: none;
	width: 100%;
	height: 100px;
	font-size: 20px;
	border-radius: 5px;
	padding-left: 10px;
	padding-top: 10px;
}

.user-input button {
	float: right;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	background-color: #37323E;
	border: none;
	border-radius: 5px;
	padding: 10px 30px 10px 30px;
	margin-top: 10px;
}

.user-info {
	height: 100%;
	width: 70%;
	margin: 0 auto;
	margin-bottom: 10px;
	background-color: #DEB841;
}
.user-info span {
	display: inline-block;
	padding: 10px 10px 10px 30px;
}

.username {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}

.num-posts {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}

.num-followers {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}

.user-posts {
	height: 100%;
	width: 70%;
	margin: 0 auto;
	margin-bottom: 50px;
}

.user-posts ul {
	padding-left: 0;
}

.user-posts li {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	list-style: none;
	display: inline-block;
	border: 2px solid #BFBDC1;
	border-radius: 5px;
	background-color: #fff;
	padding: 20px 24px 20px 30px;
	margin-top: 30px;
}

.date-time {
	float: right;
	color: #DE9E36;
	font-size: 14px;
	margin-top: 20px;
}

.date {
	padding-right: 3px;
}





/*********** SOCIAL MEDIA BUTTONS ***********/

.fb-btn, .fb-btn:hover, .fb-btn:visited, .fb-btn:active, .fb-btn:focus {
	width: 100%;
	height: 35px;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	border: none;
	border-radius: 5px;
	background-color: #133783;
	margin-bottom: 20px;
}

.account {
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	display: block;
	text-align: center;
}

.account a, .account a:hover, .account a:visited {
	font-family: 'Open Sans', sans-serif;
	color: #DE9E36;
}






